@charset "UTF-8";
body{background-color:rgb(1, 0, 0)}

/*--------------------header----------------------*/


  .lg {
    width: 200px;
    margin-left: -180px;
  }
  
  .head {
    background-color: rgb(81, 25, 46);
    height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content_in_header {
    width: 75%;
    height: 122px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .clearfix_2 {
    display: flex;
    margin-right: 92px;
  }
  .clearfix_2 div a{
    margin-left: 44px;
    font-family: Cambria;

    text-decoration: none;
    color: white;
  }
  .clearfix_2 div a:hover {
    text-shadow: 5px 1px 5px black;

  }  
/*-----------------footer-----------------*/
.footer {
  display: inline-flex;
  height: 0%;
  width: 100%;
  background-color: rgb(81, 25, 46);
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: baseline; }


.footer_me {
  margin-left: 100px;
  margin-top: 3%;
  margin-bottom: 3%; 
  color: white;}

.footer_text {
  margin-left: 100px;
  color: white; }

  .footer_brand {
    margin-left: 150px; 
    color: white;}
  
  .footer_adress {
    margin-top: 2%;
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: Cambria; }
  




    .container{
      width: 1500px;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap:wrap;
      
    }

.container .card{
  position: relative;
}

.container .card .face{
  width:450px;
  height: 300px;
  transition:.4s;
  
}

.container .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
  z-index: 1;
  transform: translateY(200px);
}

.container .card:hover .face.face1{
  transform: translateY(0);
  box-shadow:
  
    inset 20px 0 80px rgb(81, 25, 46),

    inset 20px 0 300px rgb(81, 25, 46),
   
    -10px 0 80px rgb(81, 25, 46),
    10px 0 80px rgb(151, 71, 100);
   
}


.container .card .face.face1 .content{
  opacity: .2;
  transition:  0.5s;
  text-align: center;


}

.container .card:hover .face.face1 .content{
  opacity: 1;
 
}

.container .card .face.face1 .content i{
  font-size: 3em;
  color: white;
  display: inline-block;
   
}

.container .card .face.face1 .content h3{
  font-size: 1em;
  color: white;
  text-align: center;
  

}

.container .card .face.face1 .content a{
   transition: .5s;
}

.container .card .face.face2{
   position: relative;
   background: whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);


}

.container .card .face.face2 .content p{
  font-size: 10pt;
  margin: 0 ;
  padding: 0;
  color:#333;
}

.container .card .face.face2 .content a{
  text-decoration:none;
  color: black;
  box-sizing: border-box;
  outline : 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.container .card .face.face2 .content a:hover{
  background: #333 ;
  color: whitesmoke; 
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

.dost{
  width:400px;
  height: 250px;
}

.article{
  text-align: center;
  font-family: Cambria;
  color: rgb(151, 71, 100);
  font-size: 50px;
} 

.obj{
  text-align: center;
}
/* отзывы */


.container1 {   width: 75%;
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px; /* скругление углов блока */
  padding: 16px; /* внутренние поля */
  margin: 16px auto; /* внешние отступы */
}
.container1 img {
  float: left; /* обтекание слева */
  margin-right: 20px; /* пространство между аватаркой и абзацем */
  border-radius: 50%; /* скругляет аватарку */
  width: 90px;
}

.container1 span {
  font-size: 18px;
  margin-right: 15px;
}

.av{
  color: rgb(151, 71, 100);
}
.classusl{
  font-size: 23px;
  color: rgb(151, 71, 100);
}
.text_usl{
  color:#ccc
}
.uslovia{ width: 800px;
  border: 5px solid rgb(81, 25, 46);
  font-family: Cambria;
  border-radius: 10px ;
  margin-left:auto;
  margin-right: auto;}
  
  @media screen and (min-width: 240px) and (max-width: 500px) {
    .dost{
      width:270px;
      height: 200px;
    }
    .container {
      margin-left: auto;
      margin-right: auto;
      width:100%;
    }
    .container .card .face{

      width:100%;
      height: 300px;}
    .uslovia {
    
      width: 100%;}
    .head{height: 300px;}
 .content_in_header {
  font-size: 20px;
 flex-flow: column;
}
.lg {
  margin-left: 0px;
  margin-top: -130px;
}
.clearfix_2 {
  flex-flow: column;
  margin-right: 0px;
}
.footer {display:block;}
.footer_brand {
  margin-left: 104px;}
  


  }
  @media (max-width: 768px)and (min-width: 501px){
    .container {
      width:450px;
      margin-left: auto;
      margin-right: auto;

    }
    .container .card .face{
      width:100%;
      height: 300px;}
    .uslovia {
      width: 100%;}
    .head{height: 300px;}
    .content_in_header {
    flex-flow: column;
   }
   .lg {
     margin-left: 0px;
     margin-top: -130px;
   }
   .clearfix_2 {
     flex-flow: column;
     margin-right: 0px;
   }
   .footer {display:block;}
.footer_brand {
  margin-left: 104px;}}

  @media (max-width: 1345px)and (min-width: 769px){

    .container {
      margin-left: auto;
      margin-right: auto;
      width:450px;
    }
 
    .container .card .face{
      
      width:100%;
      height: 300px;}
  
    .lg {
      margin-left: -80px;
      margin-top: -10px;
    }
  }
  